#container {
	width: 100%;
	margin: 5px;
	background-color: rgba(9,93,147,0.51);
	
}
h1 {
	width: 100%;
	text-align: center;
	font-size: 2em;
}
p { 
	width: 100%;
	font-size: 1.5em;
	
}
input[type="text"] {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
input[type="button"] {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgba(201,4,13,1.00);
	border: medium double rgba(255,255,255,1.00);
	color: rgba(255,255,255,1.00);
	font-size: xx-large;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}aside  {
	display: block;
	position: relative;
	text-align: center;
}
